<section
	id="about"
	class="mx-auto flex max-w-md items-center justify-start bg-slate-50 py-10"
>
	<div class="space-y-5 px-10 md:pl-0">
		<p class="font-semibold tracking-widest text-[#A95F3B]">
			BREAKFAST • LUNCH • VIBES
		</p>
		<h5 class="text-2xl font-bold text-slate-800/80">
			@ FOXXYS | Koh Phangnan
		</h5>
		<p class="font-light tracking-wide text-slate-800/80">
			- Extra blurb here all about your cafe. Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Expedita accusamus totam magni laboriosam
			necessitatibus consequuntur repellendus facere molestias odit, odio
			accusantium voluptates fugit quia, assumenda possimus culpa quis sequi
			dolores. Consequuntur facere fugiat totam voluptatibus aliquid delectus
			eum dolor, praesentium tempora aliquam natus iure ratione? Id, neque,
			debitis dolores quia unde modi, ea reiciendis atque asperiores
			exercitationem cupiditate possimus dolorum.
		</p>
	</div>
</section>
