---
import { Image } from 'astro:assets';
import palmLogo from '@/assets/images/palm_logo_black.png';
---

<section
	id="about"
	class="relative z-0 mx-auto flex items-center justify-start overflow-hidden bg-slate-50"
>
	<div class="mx-auto my-20 max-w-md space-y-5 px-10">
		<p class="font-semibold tracking-widest text-[#A95F3B]">
			BREAKFAST • LUNCH • VIBES
		</p>
		<h5 class="text-2xl font-bold text-slate-800/80">
			@ FOXXYS | Koh Phangnan
		</h5>
		<p class="font-light tracking-wide text-slate-800/80">
			- Extra blurb here all about your cafe. Lorem ipsum dolor sit amet,
			consectetur adipisicing elit. Expedita accusamus totam magni laboriosam
			necessitatibus consequuntur repellendus facere molestias odit, odio
			accusantium voluptates fugit quia, assumenda possimus culpa quis sequi
			dolores. Consequuntur facere fugiat totam voluptatibus aliquid delectus
			eum dolor, praesentium tempora aliquam natus iure ratione? Id, neque,
			debitis dolores quia unde modi, ea reiciendis atque asperiores
			exercitationem cupiditate possimus dolorum.
		</p>
	</div>
	<Image
		src={palmLogo}
		alt="Foxy palm logo"
		class="absolute right-[-270px] mx-auto h-3/4 w-auto object-contain opacity-5 sm:right-[-150px] md:right-[10px]"
	/>
</section>
