<section id="image-section" class="clipped h-[640px] bg-teal-800 flex-center">
	<h1 class="font-bold text-white">IMAGE SECTION BREAK</h1>
</section>

<!-- 

		<svg class="svg">
		<clipPath id="img-clip-path" clipPathUnits="objectBoundingBox"
			><path d="M0,0 H1 V0.972 C0.696,1,0.405,0.843,0,0.917 V0"
			></path></clipPath
		>
	</svg>
 -->

<style>
	/* .svg {
		position: absolute;
		width: 0;
		height: 0;
	}
	.clipped {
		width: 100%;
		background-size: cover;
		clip-path: url(#img-clip-path);
	} */
</style>
