---
import { Image } from 'astro:assets';
import heroImage from '@/assets/images/foxxy_main_bg.jpg';
import heroLogo from '@/assets/images/logo_blk_lg.png';
---

<section id="hero" class="relative z-0">
	<div
		class="z-1 absolute flex h-full flex-col items-start justify-end pl-3 sm:pl-5 md:pl-10"
	>
		<!-- LOGO & TEXT -->
		<div
			class="animate-fadeInUp w-[40%] opacity-80 md:ml-10 md:w-[35%] md:pb-5"
		>
			<Image src={heroLogo} alt="Foxxy cafe hero logo" />
		</div>
		<div
			class="flex h-[35%] items-center justify-center sm:h-[30%] sm:pl-5 md:h-[20%] md:pl-10"
		>
			<div class="flex flex-col">
				<h1
					class="fade-up animation-delay-700 ml-1 mt-10 font-semibold text-slate-800 opacity-80"
				>
					A Taste Of Paradise
				</h1>
				<p class="fade-up animation-delay-1000 mb-20 ml-2 text-slate-800">
					(or any other blurb)
				</p>
			</div>
		</div>
	</div>
	<Image
		class="z-0 h-full min-h-[550px] w-full object-cover sm:h-[100vh] md:h-screen"
		src={heroImage}
		alt="Foxxy cafe hero image"
	/>
</section>
