---
import { Image } from 'astro:assets';
import heroImage from '@/assets/images/foxxy_main_bg.jpg';
import heroLogo from '@/assets/images/logo_blk_lg.png';
---

<section id="hero" class="relative z-0">
	<div
		class="z-1 absolute -mt-10 flex h-full flex-col items-start justify-end pl-3 sm:justify-center sm:pl-5 md:mt-2 md:pl-10"
	>
		<!-- LOGO -->
		<div
			data-rellax-speed="2"
			class="hero-logo w-[40%] animate-fadeInUp opacity-80 sm:pt-20 md:ml-10 md:w-[35%]"
		>
			<Image src={heroLogo} alt="Foxxy cafe hero logo" />
		</div>
		<!-- TEXT -->
		<div
			class="flex h-[35%] items-start pt-10 sm:h-[30%] sm:pl-2 md:ml-10 md:h-[20%]"
		>
			<div class="flex flex-col">
				<h1
					class="fade-up font-semibold text-slate-800 opacity-80 animation-delay-700 sm:text-5xl md:text-5xl"
				>
					A Taste Of Paradise
				</h1>
				<p
					class="fade-up text-slate-800 animation-delay-1000 sm:pt-4 sm:text-2xl"
				>
					(or any other blurb)
				</p>
			</div>
		</div>
	</div>
	<Image
		class="z-0 h-full min-h-[550px] w-full object-cover sm:h-[100vh] md:h-screen"
		src={heroImage}
		alt="Foxxy cafe hero image"
	/>
</section>

<script>
	// import Ukiyo from 'ukiyojs';
	import Rellax from 'rellax';

	// eslint-disable-next-line no-unused-vars
	var heroLogo = new Rellax('.hero-logo');
	// const parallax = document.querySelector('.hero');

	// new Ukiyo(parallax, {
	// 	scale: 1.5, // 1~2 is recommended
	// 	speed: 1.5, // 1~2 is recommended
	// 	willChange: true,
	// 	wrapperClass: 'ukiyo-wrapper',
	// 	externalRAF: false,
	// });
</script>
