---
import { Image } from 'astro:assets';
import heroImage from '@/assets/images/foxxy_main_bg.jpg';
---

<section id="hero" class="z-0 flex items-center justify-center">
	<Image
		class="h-full min-h-[550px] w-full object-cover"
		src={heroImage}
		alt="Foxxy cafe hero image"
	/>
</section>
