---
import { Image } from 'astro:assets';
import heroImage from '@/assets/images/foxxy_main_bg.jpg';
---

<section
	id="hero"
	class="z-0 flex h-screen items-center justify-center bg-blue-400"
>
	<Image class="w-full h-full object-cover object-center" src={heroImage} alt="Foxxy cafe hero image" />
</section>
