<section
	id="menu"
	class="flex h-[600px] flex-col items-center justify-center bg-blue-900"
>
	<h1 class="font-bold text-white">MENU SECTION</h1>
	<h5 class="font-bold text-white">
		Probably be done with tabs for food sections
	</h5>
</section>
