---
import { Icon } from 'astro-icon/components';
---

<section
	class="flex h-[300px] w-full items-center justify-around bg-yellow-500 sm:px-5 md:px-10 lg:px-20"
>
	<Icon name="chevron-left" />
	<div class="text-center">
		<h1 class="font-bold text-white">TESTIMONIALS</h1>
		<h5>Pulled from Google reviews and customers</h5>
		<h5>Carousel</h5>
	</div>
	<Icon name="chevron-right" />
</section>
