---
import { Icon } from 'astro-icon/components';
---

<section
	class="flex h-[300px] w-full items-center justify-around bg-yellow-500"
>
	<div class="">L</div>
	<div class="text-center">
		<h1 class="font-bold text-white">TESTIMONIALS</h1>
		<h5>Pulled from Google reviews and customers</h5>
		<h5>Carousel</h5>
	</div>
	<div class="">R</div>
</section>
