@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		scroll-behavior: smooth;
	}
	@media (prefers-reduced-motion: reduce) {
		* {
			scroll-behavior: auto;
		}
	}
	h1 {
		@apply text-4xl font-normal leading-normal;
	}
	h2 {
		@apply text-3xl font-normal leading-normal;
	}
	h3 {
		@apply text-2xl font-normal leading-normal;
	}
	h4 {
		@apply text-xl font-normal leading-normal;
	}
	h5 {
		@apply text-lg font-normal leading-normal;
	}
}

@layer components {
}

@layer utilities {
	.bb {
		@apply border border-red-600 sm:border-blue-600 md:border-green-600 lg:border-black;
	}
	.bb2 {
		@apply border border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600;
	}
	.bb3 {
		@apply border-4 border-green-600 sm:border-red-600 md:border-blue-600 lg:border-pink-600;
	}
	.flex-center {
		@apply flex items-center justify-center;
	}
}

.fade {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.slide-up {
	transform: translateY(30%);
	animation-name: slideUp;
	animation-duration: 2s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
}

.fade-up {
	transform: translateY(30%);
	opacity: 0;
	animation-name: fadeInSlideUp;
	animation-duration: 1.5s;
	// animation-delay: 1s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 0.8;
	}
}

@keyframes slideUp {
	from {
		transform: translateY(30%);
	}
	to {
		transform: translateY(0);
	}
}

@keyframes fadeInSlideUp {
	from {
		opacity: 0;
		transform: translateY(30%);
	}
	to {
		opacity: 0.8;
		transform: translateY(0);
	}
}
