---
import Layout from '@/layouts/Layout.astro';
import Header from '@/features/Header.astro';
import Hero from '@/features/Hero.astro';
import About from '@/features/About.astro';
import Menu from '@/features/Menu.astro';
import CafeImage from '@/features/CafeImage.astro';
import Testimonials from '@/features/Testimonials.astro';
import InstagramFeed from '@/features/InstagramFeed.astro';
import Location from '@/features/Location.astro';
---

<Layout title="Foxxys Cafe Koh Phangnan">
	<main class="">
		<div class="flex h-screen flex-col">
			<Header />
			<Hero />
		</div>
		<About />
		<CafeImage />
		<Menu />
		<Testimonials />
		<InstagramFeed />
		<Location />
	</main>
</Layout>

<style></style>
