---
import Layout from '@/layouts/Layout.astro';
import Header from '@/features/Header.astro';
import Hero from '@/features/Hero.astro';
---

<Layout title="Foxxys Cafe Koh Phangnan">
	<main class="">
		<Header />
		<Hero />
	</main>
</Layout>

<style></style>
