---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Simple Barebones Astro + Tailwind Starter Template">
	<main class="flex w-full justify-center pt-10 text-center text-cyan-50">
		<h3 class="text-cyan-50">Bare Bones Astro + Tailwind Starter</h3>
	</main>
</Layout>

<style></style>
